
/* #myCarousel, .carousel-inner{
            height: 900px;
}     */


*{  
    margin: 0;
    padding: 0;
}
ul{list-style:none;}

.navbar {
    margin-bottom: 0;
    background-color: transparent;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
}

  
/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand {
color: #d5d5d5 !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
color: #fff !important;
}

/* The active link */
.navbar-nav li.active a {
color: #fff !important;
background-color:#29292c !important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
border-color: transparent;
}

/* Dropdown */
.open .dropdown-toggle {
color: #fff ;
background-color: #555 !important;
}

/* Dropdown links */
.dropdown-menu li a {
color: #000 !important;
}

/* On hover, the dropdown links will turn red */
.dropdown-menu li a:hover {
background-color: red !important;
}


#myCarousel .carousel-inner .item img:nth-child(1){display: block;}
#myCarousel .carousel-inner .item img:nth-child(2){display: none;}

.carousel-caption{
    position: absolute;
    left:30px;           
    text-align: left;            
}
#bestKia h3, #news h3{
    font-size: 45px;
    padding: 60px;
    color: black;
}
#bestKia .box{
    border:1px solid #dddddd;
    border-radius: 10px;
    padding: 20px;
    line-height: 2.5;
}
#bestKia .nav-tabs{
    margin-bottom: 50px;
}
#bestKia .nav-tabs li.active a{           
    border-radius: 0;
    border:none;
    border-bottom: 1px solid black;
}
#bestKia .box .col-sm-8,#bestKia .box .price{
    text-align: right;
}
.badge {
    position: absolute;
    right: 30px;
    background-color: black;
}
#bestKia .box .btn{
    border-radius: 0;
}
.btn-black{
    background: black;
    color:white;
}
.btn-black:hover{
    background-color: rgb(130, 129, 129);
    color:#dddddd
}
#bestKia .btn-box{
    text-align: center;
}
.sort{
    text-align: center;
    padding:20px ;
    color: gray;
}
#etc .box{
    padding: 30px;
    background-color: #eee;
    transition: all 0.5s;
}
#etc .box img{
    width: 25px; 
}
#etc .box h3{
    font-size: 17px;
    font-weight: bold;
}
.img-hover{display: none; transition: all 0.5s;}
#etc .box:hover .img-hover{display: block;}
#etc .box:hover .img{display: none;}

#etc .box:hover{
    background-color: black;
    color: white;
}
.detail{text-align: right; color: #eee; padding-top: 80px;}
#etc .box:hover .detail{color: white;}
.detail i{color: black; transition: all 0.5s;}
#etc .box:hover .detail i{opacity: 1; color: white;}


#news .col-sm-6{
    float: right;
    height: 450px;
}
#news .col-sm-6:nth-child(2){
    background-color: #697278;
    color: white;
    padding: 30px;
}
#news .col-sm-6:nth-child(1) img:nth-child(1){display: block;}
#news .col-sm-6:nth-child(1) img:nth-child(2){display: none;}

#news .col-sm-6 h5{
    font-weight: bold;
    font-size: 18px;
}
#news .col-sm-6 h4{
    font-weight: bold;
    font-size: 21px;
}
#news .col-sm-6 .btn{
    position: absolute;
    bottom: 40px; 
   font-weight: bold;
   border-radius: 0;
}
#news .col-sm-4{
    padding-top: 50px;
    padding-bottom: 150px;
}
#footer1{
    background: #05141F;
}
.price{
    font-size: 23px;
    padding-bottom: 20px;
}
#footer1{
    background-color: #05141F;
}
#footer1 .col-sm-6 ul{
    position: absolute;
    right: 0;
}
#footer1 .col-sm-6 li{
    display: inline;
}
#footer1 .col-sm-6 li a{
    display: inline-block;
    padding: 10px;
}
#footer2{
    background-color: #010E18;
}
#footer2 .col-sm-6{
    float: right;
}
#collapse{display: none;}

@media screen and (max-width: 767px){
    #myCarousel .carousel-inner .item img:nth-child(1){display: none;}
    #myCarousel .carousel-inner .item img:nth-child(2){display: block;}
    #news .col-sm-6{
        padding: 0;
    }
    #news .col-sm-6 img{
        width: 100%!important;
    }
    #news .col-sm-6:nth-child(1){
        height: 250px;
    }
    #news .col-sm-6:nth-child(2){
        height: 200px;
    }
    #news .col-sm-6:nth-child(1) img:nth-child(1){display: none;}
    #news .col-sm-6:nth-child(1) img:nth-child(2){display: block;}
    #news .col-sm-4{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    #footer1 .col-sm-6{display: none;}
    #footer1 .col-sm-3:nth-child(2){display: none;}
    #collapse{display: block;}
    
    #collapse .collapsible {
        background-color: #777;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }
      
    #collapse .active, #collapse .collapsible:hover {
    background-color: #555;
    }
    
    #collapse .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    }
    
    #collapse .active:after {
    content: "\2212";
    }
    
    #collapse .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    }
    #footer2 .container .row:nth-of-type(3){display: none;}
}